<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title>おほかたすかし</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/components.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/pages/join.css') }}">
</head>

<body>
  <div class="container-join">
    <h1>おほかたすかし</h1>
    <form method="post">
      <input class="input" name="group" type="number" min="1" placeholder="グループ番号" required autofocus>
      <input class="input" name="group_name" type="text" placeholder="チーム名 (任意)" maxlength="20">
      <input class="input" name="player" type="text" placeholder="プレイヤー(a-c)" required pattern="[a-d]" maxlength="1">
      <button class="btn btn-success btn-submit btn-full" type="submit">参加</button>
    </form>
  </div>
  <p style="line-height: 2.5; text-align: center;"> 考案/企画: 大分舞鶴高校 数学班・情報班<br>開発: 大分舞鶴高校 情報班 木崎公亮</p>
</body>

</html>