<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>Document</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
  input {
    width:200px;
    height:20px;
  }
</style>
</head>
<body style="text-align:center; font-family:sans-serif">
<h1>おおかたすかし test-play</h1>

<form method="post">
  <input name="group" maxlength="1" placeholder="グループ(A-Z)" required>
  <br><br>
  <input name="player" type="number" min="1" max="4" placeholder="番号(1-4)" required>
  <br><br>
  <button>参加</button>
</form>

</body>
</html>
